@using SpreeviewFrontend.Components
@using SpreeviewFrontend.Services
@inherits LayoutComponentBase

@* Example of dynamically setting html attributes via UserPreferences *@
<div class="flex h-screen flex-col justify-between">
	<Header />
	<main class="mb-auto">
		@Body
	</main>
	<Footer />
</div>

@code {

}
