@using CommonLibrary.DataClasses.CommentModel
@using CommonLibrary.DataClasses.ReviewModel
@using SpreeviewFrontend.Services.ApiCommentService
@inject IApiCommentService CommentService

@if (reviews.Count > 0)
{
	<div class="flex flex-col gap-4 py-4">
		@foreach (ReviewGetDTO review in reviews)
		{

			<ReviewCard review="review" />
		}
	</div>
}


@code {
	[Parameter]
	public List<ReviewGetDTO> reviews { get; set; }
}
