@using CommonLibrary.DataClasses.ReviewModel

<h1>Reviews</h1>
@foreach (ReviewGetDTO review in reviews)
{
	<h3>@review.Contents</h3>
	<p>@review.Rating</p>
}

@code {
	[Parameter]
	public List<ReviewGetDTO> reviews { get; set; }
}
