@using CommonLibrary.DataClasses.EpisodeModel
@using CommonLibrary.DataClasses.ReviewModel
@using SpreeviewFrontend.Services.ApiReview
@inject IApiReviewService ReviewService
@inject NavigationManager Navigation

@if (reviews != null && reviews.Count > 0)
{
    <ReviewInfo reviews="reviews" />
}
else if (errorMessage != null)
{
    <div class="load-message">
        We faced an error when loading the reviews: @errorMessage
    </div>
}
else if (reviews.Count == 0)
{
    <div class="load-message">
        There are currently no reviews for this episode, please write a review!
    </div>
}
else
{
    <div class="load-message">
        Loading Reviews...
    </div>
}

@code {
    [Parameter]
    public List<ReviewGetDTO> reviews { get; set;  }

    private string errorMessage { get; set; }

    [Parameter]
    public EpisodeGetDTO episode { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            reviews = (await ReviewService.GetEpisodeReviews(episode.Id)).Value;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        StateHasChanged();
    }
}
