@using CommonLibrary.DataClasses.SeriesModel
@using SpreeviewFrontend.Components.HomeComponents
@using SpreeviewFrontend.Services.ApiSeries
@inject IApiSeriesService SeriesService
@rendermode InteractiveServer

@if (series != null)
{
    @if (LoadingType == LoadingType.Trending)
    {
        <PopularSeriesDisplay series="series" />
    }
    else if (LoadingType == LoadingType.Carousel)
    {
        <MainCarousel series="series" />
    }
}
else if (errorMessage != null)
{
    <div>
        We faced an error when loading the series: @errorMessage
    </div>
}
else
{
    <div>
        Loading Series...
    </div>
}

@code {
    [Parameter]
    public LoadingType LoadingType { get; set; }

    private List<SeriesGetDTO> series;

    private string errorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // TODO: refactor this to handle errors using the ServiceObjectResponse instead of try catch
        try
        {
            series = (await SeriesService.GetTrendingSeries()).Value;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}