
@code {
    [Parameter]
    public bool MobileMode { get; set; }
}
<nav class="@(MobileMode ? "grow flex gap-6 flex-col items-end lg:hidden p-5" : "flex grow justify-end text-nowrap gap-6 align-middle max-lg:hidden h-fit")">
    
    @if (MobileMode)
    {
        <UserStatus/>
    }
    
    <NavlistLink href="health">App Health</NavlistLink>
    <NavlistLink href="chat">Chat</NavlistLink>

    @if (!MobileMode)
    {
        <UserStatus/>
    }
    
</nav>


           
           
