@inject NavigationManager NVM;
@code {
    private bool display { get; set; } = false;



    [Parameter]
    public bool MobileMode { get; set; }
}

<nav class="@(MobileMode ? "grow flex gap-6 flex-col items-end lg:hidden p-5" : "flex grow justify-end text-nowrap gap-6 align-middle max-lg:hidden h-fit")">
    
    @if (MobileMode)
    {
        <UserStatus/>
    }

    @if (display)
    {
        <div style="background-color:var(--mBg); position:fixed; margin:auto auto; z-index:2; height:80vh; width:80vw; top: 10vh; left:50%; transform:translateX(-50%)">
            <UserPrefs />
        </div>
    }

    <!-- Pixabay license - free for use non-commercial only! -->
    <img style="height:50px; width:50px;" src="https://cdn.pixabay.com/photo/2016/01/03/11/24/gear-1119298_1280.png" alt="UserPrefs" @onclick="()=>{display = !display;}" />
    
    
    <NavlistLink href="health">App Health</NavlistLink>

    @if (!MobileMode)
    {
        <UserStatus/>
    }
    
</nav>


           
           
