<AuthorizeView>
    <Authorized>
        <div class="flex gap-4 items-center text-nowrap">
            <NavLink>@context.User.Identity?.Name</NavLink>
            <div class="w-10 h-10 rounded-full bg-gray-500"></div>
            <NavLink class="button-purple" href="/logout">Sign out</NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="flex gap-4 items-center text-nowrap">
            <NavLink class="button-purple" href="/login">Sign in</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

<script>
    function HideMe(ele){ ele.style.display="none"; }
    function Toggle(){
        console.log("clicked");
        //Pop-up display user PREFS
        switch(document.getElementById("UserPrefs").style.display.toLowerCase()){
            case "none":
                document.getElementById("UserPrefs").style.display = "block";
                break;
            default:
                document.getElementById("UserPrefs").style.display = "none";
        }
    }
</script>