<AuthorizeView>
    <Authorized>
        <div class="flex gap-4 items-center text-nowrap">
            <a>@context.User.Identity?.Name</a>
            <div class="w-10 h-10 rounded-full bg-gray-500"></div>
            <a class="button-purple" href="/logout">Sign out</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="flex gap-4 items-center text-nowrap">
            <a class="button-purple" href="/login">Sign in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>