<AuthorizeView>
    <Authorized>
        <div class="flex gap-4 items-center text-nowrap">
            <a>@context.User.Identity?.Name</a>
            <div class="w-10 h-10 rounded-full bg-gray-500"></div>
            <NavLink class="button-purple" href="/example/logout">Sign out</NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="flex gap-4 items-center text-nowrap">
            <NavLink class="button-purple" href="/example/login">Sign in</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>