@using System.ComponentModel.DataAnnotations
@using RecordShop.Frontend.Client.Identity.Models
<EditForm class="form" Model="_input" method="post" OnValidSubmit="Submit"
          FormName="login" Context="editform_context">
    <DataAnnotationsValidator/>
    
    @* Title *@
    <h1 class="text-3xl">Login</h1>

    @* Messages *@
    @foreach (var message in Messages)
    {
        <p>@message</p>
    }

    @* Email *@
    <div class="grid grid-cols-2 grid-rows-2">
        <div class="col-start-1 row-start-1"><label for="Input.Email" class="block">Email</label></div>
        <div class="col-start-1 row-start-2">
            <InputText class="text-input-box" @bind-Value="_input.Email"
                       id="Input.Email"
                       size="25"
                       autocomplete="username"
                       aria-required="true"
                       placeholder="name@example.com"/>
        </div>
        <div class="col-start-2 row-start-2">
            <ValidationMessage For="() => _input.Email"/>
        </div>
    </div>

    @* Password *@
    <div class="grid grid-cols-2 grid-rows-2">
        <div class="col-start-1 row-start-1"><label for="Input.Password" class="block">Password</label></div>
        <div class="col-start-1 row-start-2">
            <InputText type="password"
                       @bind-Value="_input.Password"
                       id="Input.Password"
                       size="25"
                       class="text-input-box"
                       autocomplete="current-password"
                       aria-required="true"
                       placeholder="password"/>
        </div>
        <div class="col-start-2 row-start-2">
            <ValidationMessage For="() => _input.Password"/>
        </div>
    </div>

    <hr class="my-3"/>
    
    @* Buttons *@
    <div class="flex flex-col gap-4">
        <button type="submit" class="form-button">Log in</button>
        <p>Don't have an account with us?</p>
        <a href="register" class="form-button">Register</a>
    </div>
</EditForm>

@code
{
    [SupplyParameterFromForm] private LoginFormModel _input { get; set; } = new();

    [Parameter] public string[] Messages { get; set; } = [];

    [Parameter] public EventCallback<LoginFormModel> OnSubmit { get; set; }

    private async Task Submit()
    {
        await OnSubmit.InvokeAsync(_input);
    }
}
