@using SpreeviewFrontend.Services
@inject IUserPreferencesService UserPreferencesService;
@inject IJSRuntime JSR;
@code {
    private UserPreferences _preferences = new();
    protected override async Task OnInitializedAsync()
    { 
        _preferences = await UserPreferencesService.GetUserPreferencesAsync();
            //Defaults to light ?? TODO static/cookie
    }

    public Theme Theme { 
        get { return _preferences.Theme; } 
        set {
            //TODO  on change, update body attribute
            JSR.InvokeVoidAsync("ThemeSwitch", Enum.GetName(Theme.GetType(), value));
            _preferences.Theme = value;
        } 
    }
}

<script>
    function ThemeSwitch(theme){
        document.querySelector("body").setAttribute("theme",theme.toLowerCase());
    }
</script>

<div style="background-color:#88888888;">
    <form action="">
        <InputSelect @bind-Value="Theme">
            @foreach(var theme in Enum.GetValues(Theme.GetType())){
                <option value="@theme">@Enum.GetName(Theme.GetType(),theme)</option>
            }
        </InputSelect>
        <hr />
    </form>
</div>