@using CommonLibrary.DataClasses.SeriesModel
<section class="p-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 m-auto gap-10">
	@foreach (SeriesGetDTO series in series)
	{
		<SeriesCard series="series" />
	}
</section>

@code {
	[Parameter]
	public List<SeriesGetDTO> series { get; set; }
}
