@using CommonLibrary.DataClasses.SeriesModel
@if (series != null)
{
	<NavLink class="relative shadow-purple group aspect-9/16 min-h-[400px] sm:min-h-0" href=@($"/series/{series.Id}")>
		@if (string.IsNullOrEmpty(series.PosterPath) && string.IsNullOrEmpty(series.BannerPath))
		{
			<div class="absolute flex justify-center items-center absolute-0 h-full w-full">
				<div class="text-[8rem]">
					🎬
				</div>
			</div>
		} else
		{
			<img class="h-full m-auto object-cover overflow-hidden display-block"
				 src=@(string.IsNullOrEmpty(series.PosterPath) ? $"https://image.tmdb.org/t/p/w500{series.BannerPath}" : $"https://image.tmdb.org/t/p/w500{series.PosterPath}")
				 alt="@series.Name"
				 loading="lazy" />
		}

		<h3 class="text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-0 bg-black/50 text-center w-full text-white p-2 h-full flex justify-center items-center">@series.Name</h3>
	</NavLink>
	<style>
		.group:hover img {
			transform: scale(1.1);
		}
	</style>

}

@code {
	[Parameter]
	public SeriesGetDTO series { get; set; }
}
