@page "/login"
@using RecordShop.Frontend.Client.Identity.Models
@using SpreeviewAPI.Wrappers
@using SpreeviewFrontend.Client.Identity
@using SpreeviewFrontend.Components.Authentication
@inject IAccountManagementService AccountManagementService
@inject NavigationManager Navigation

<PageTitle>Login</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page-margin">
            <h1 class="page-title">Welcome!</h1>
            <p class="alert alert-success">You're logged in as @context.User.Identity?.Name.</p>
        </div>
    </Authorized>
    <NotAuthorized>
        <LoginForm Messages="loginResponse.Messages" OnSubmit="LoginUserAsync"/>
    </NotAuthorized>
</AuthorizeView>

@code
{
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }
    
    private ServiceResponse loginResponse = new();

    public async Task LoginUserAsync(LoginFormModel formData)
    {
        loginResponse = await AccountManagementService.LoginAsync(formData.Email, formData.Password);
        
        if (loginResponse.Type == ServiceResponseType.Success && !string.IsNullOrEmpty(ReturnUrl))
        {
            Navigation.NavigateTo(ReturnUrl);
        }
    }
}
