@page "/logout"
@using SpreeviewAPI.Wrappers
@using SpreeviewFrontend.Client.Identity
@inject IAccountManagementService AccountManagementService

<PageTitle>Logout</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page-margin">
            <h1 class="page-title">Logging out...</h1>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="page-margin">
            <h1 class="page-title">You're logged out.</h1>
            <a class="button-purple mt-4 inline-block" href="/login">Sign in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private ServiceResponse logoutResponse = new();
    
    protected override async Task OnInitializedAsync()
    {
        if (await AccountManagementService.CheckAuthenticatedAsync())
        {
            logoutResponse = await AccountManagementService.LogoutAsync();
        }
    }
}
