@page "/register"
@using RecordShop.Frontend.Client.Identity.Models
@using SpreeviewAPI.Wrappers
@using SpreeviewFrontend.Services.AccountManagement
@using SpreeviewFrontend.Components.Authentication
@inject IAccountManagementService AccountManagementService

<PageTitle>Register</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You're already logged in as @context.User.Identity?.Name.</div>
    </Authorized>
    <NotAuthorized>
        @if (registerResponse.Type == ServiceResponseType.Success)
        {
            <div class="page-margin">
                <h1 class="page-title">Registration Successful</h1>
                <p >Your account has been created. Click below to sign in:</p>
                <NavLink class="button-purple mt-4 inline-block" href="/login">Sign in</NavLink>
            </div>
        }
        else
        {
            <RegisterForm Messages="registerResponse.Messages" OnSubmit="RegisterUserAsync"/>
        }
    </NotAuthorized>
</AuthorizeView>

@code
{
    private ServiceResponse registerResponse = new();

    
    public async Task RegisterUserAsync(RegisterFormModel formData)
    {
        registerResponse = await AccountManagementService.RegisterAsync(formData.Email, formData.Password);
    }
}
