@page "/series/{Id:int}"
@using CommonLibrary.DataClasses.SeriesModel
@using SpreeviewFrontend.Components.Series
@using SpreeviewFrontend.Services.ApiSeries
@inject IApiSeriesService SeriesService
@rendermode InteractiveServer

@if (series != null)
{
	<SeriesInfo series="series" />
}
else if (errorMessage != null)
{
	<div class="load-message">
		We faced an error when loading the series: @errorMessage
	</div>
}
else
{
	<div class="load-message">
		<Spinner />
	</div>
}

@code {
	[Parameter]
	public int Id { get; set; }

	[Parameter]
	public LoadingType LoadingType { get; set; }

	private SeriesGetDTO series;

	private string errorMessage { get; set; }

	protected override async Task OnInitializedAsync()
	{
		// TODO: refactor this to handle errors using the ServiceObjectResponse instead of try catch

		try
		{
			series = (await SeriesService.GetSeriesById(Id)).Value;
		}
		catch (Exception ex)
		{
			errorMessage = ex.Message;
		}
		StateHasChanged();
	}
}
