@page "/series/{Id:int}"
@using CommonLibrary.DataClasses.SeriesModel
@using SpreeviewFrontend.Components.Series
@using SpreeviewFrontend.Requests
@rendermode InteractiveServer

@if (series != null)
{
	<SeriesInfo series="series" />
}
else if (errorMessage != null)
{
	<div>
		We faced an error when loading the series: @errorMessage
	</div>
}
else
{
	<div>
		Loading Series...
	</div>
}

@code {
	[Parameter]
	public int Id { get; set; }

	[Parameter]
	public LoadingType LoadingType { get; set; }

	private SeriesGetDTO series;

	private string errorMessage { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Backend backend = new Backend();
		try
		{
			series = await backend.GetSeriesById(Id);
		}
		catch (Exception ex)
		{
			errorMessage = ex.Message;
		}
	}
}
