<footer class="light-bg-secondary text-white max-w-screen py-6 flex flex-col gap-2 justify-center items-center">
	<p class="text-2xl">
		Spreeview
	</p>
	<div class="h-[1px] w-[400px] bg-white"></div>
	<p>Copyright &#64; Spreeview</p>
</footer>

@code {

}
