<footer class="light-bg-secondary text-white py-6 flex flex-col gap-2 justify-center items-center">
	<p class="text-lg md:text-2xl">
		Spreeview
	</p>
	<div class="h-[1px] w-5/6 bg-white"></div>
	<p class="text-xs md:text-md">Copyright &#64; Spreeview</p>
</footer>

@code {

}
