<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />


        @* tailwind compiled css *@
    <link href="/css/app.min.css" rel="stylesheet" />

@*     <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link rel="icon" type="image/png" href="favicon.png" />

    <title>SpreeView</title> <!-- obligratory title -->

    <!-- Tailwind CDN - replace in production with a proper build process -->
    <script src="https://unpkg.com/@@tailwindcss/browser@@4"></script>
    <HeadOutlet />

    <link rel="stylesheet" href="./css/CustTailwindThemes.css?v=1"/>
</head>

<body theme="dark">
    <!-- attempt to test cust theme -->
    <h2>Main Content</h2>
    <p>This is a paragraph with background and foreground colors.</p>
    <div class="p-4" style="background-color: var(--container)"> <!--TODO ref light not dark!-->
        <p>This is an image container with a custom background color.</p>
    </div>
    <img style="width:50px;height:50px; background-color: var(--accent)" />

    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
</body>

</html>
