<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />


        @* tailwind compiled css *@
    <link href="/css/app.min.css" rel="stylesheet" />

@*     <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link rel="icon" type="image/png" href="favicon.png" />

    <title>SpreeView</title> <!-- obligratory title -->

    <!-- Tailwind CDN - replace in production with a proper build process -->
    <script src="https://unpkg.com/@@tailwindcss/browser@@4"></script>
    <HeadOutlet />

    <!-- TODO is failing to link up external css! -->
    <link rel="stylesheet" href="./css/CustTailwindThemes.css"/>
</head>

<body>
    <Routes  @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
</body>

</html>
