@using CommonLibrary.DataClasses.SeriesModel
@using SpreeviewFrontend.Requests
@inject NavigationManager NavManager

@if (series != null)
{
	<div class="relative w-full max-w-screen max-h-[400px] mx-auto overflow-hidden">

		<div class="flex w-full transition-transform duration-500 ease-in-out w-full" style="transform: translateX(@($"-{currentIndex * 100}%"))">
			@foreach (SeriesGetDTO series in series)
			{
				<img src=@($"https://image.tmdb.org/t/p/original{series.BannerPath}") class="w-full flex-shrink-0 object-cover" alt="Banner Carousel" @onclick="() => Redirect(series.Id)" />
			}
		</div>

		<div class="w-36 absolute left-0 top-0 h-full bg-gradient-to-r from-black/100 to-black/0" />
		<div class="w-36 absolute right-0 top-0 h-full bg-gradient-to-l from-black/100 to-black/0" />

		<button @onclick="Previous" class="absolute left-2 top-[150px] text-white">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-[100px] h-[100px]" viewBox="0 0 24 24" fill="currentColor">
				<path d="m12.718 4.707-1.413-1.415L2.585 12l8.72 8.707 1.413-1.415L6.417 13H20v-2H6.416l6.302-6.293z" />
			</svg>
		</button>

		<button @onclick="Next" class="absolute right-2 top-[150px] text-white">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-[100px] h-[100px]" viewBox="0 0 24 24" fill="currentColor">
				<path d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z" />
			</svg>
		</button>
	</div>
}


@code {
	public List<string> bannerUrls = new List<string>() { "/j8PrRaUPI19b1ZxsXaT03bQpjWm.jpg", "/7M0huD4pLqe15c3VSxBMCqzFMSW.jpg", "/oJdDWkRNkdWrYhOTNyooJDJEFoX.jpg" };

	[Parameter]
	public List<SeriesGetDTO> series { get; set; }

	private string errorMessage { get; set; }

	private int currentIndex = 0;

	private void Previous()
	{
		currentIndex = (currentIndex == 0) ? series.Count - 1 : currentIndex - 1;
	}

	private void Next()
	{
		currentIndex = (currentIndex == series.Count - 1) ? 0 : currentIndex + 1;
	}

	public void Redirect(int Id)
	{
		NavManager.NavigateTo($"/series/{Id}");
	}
}
