<nav class="text-black flex justify-between px-12 py-6">
	<img src="/Spreeview Logo.png" width="250" />
	@if (signedIn == true)
	{
		<div class="flex gap-4 items-center">
			<a>Finn Moffett</a>
			<div class="w-10 h-10 rounded-full bg-gray-500"></div>
			<button class="button-purple">Sign out</button>
		</div>
	} else
	{
		<div class="flex gap-4 items-center">
			<button>Sign in</button>
		</div>
	}

</nav>

@code {
	public bool signedIn { get; set; } = true;
}
