@using CommonLibrary.DataClasses.SeasonModel
@rendermode InteractiveServer

<!--Episodes section-->
<div class="flex gap-4 items-center py-8">
	<span>Episodes:</span>
	<div class="flex gap-2 flex-wrap">
		@for (var i = 1; i <= season.Episodes.Count; i++)
		{
			<div class="bg-black text-white px-3 py-1 rounded-lg">@i</div>
		}
	</div>
</div>

@code {
	[Parameter]
	public SeasonGetDTO season { get; set; }
}
