@using CommonLibrary.DataClasses.SeriesModel
@if (series != null)
{
	<div class="h-[20rem] w-[12rem] shadow-purple">
		<img class="h-full m-auto object-cover overflow-hidden display-block" src=@(string.IsNullOrEmpty(series.CoverPath) ? $"https://image.tmdb.org/t/p/original{series.BannerPath}" : $"https://image.tmdb.org/t/p/original{series.CoverPath}") alt="@series.Name" />
	</div>
}

@code {
	[Parameter]
	public SeriesGetDTO series { get; set; }
}
