@using CommonLibrary.DataClasses.SeriesModel
@using SpreeviewFrontend.Requests
@rendermode InteractiveServer

@if (series != null)
{
    <PopularSeriesDisplay series="series" />
}
else if (errorMessage != null)
{
    <div>
        We faced an error when loading the series: @errorMessage
    </div>
}
else
{
    <div>
        Loading Series...
    </div>
}

@code {
    private List<Series> series;

    private string errorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Backend backend = new Backend();
        try
        {
            series = await backend.GetTrendingSeries();
        } catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
