<h3>TestMe</h3>

@code {
    UniversalTheme ut = new UniversalTheme(Themes.Light);

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        //injects css of other class?

        Console.WriteLine(ut.fBgCol);
    }
}

