<h3>TestMe</h3>

@inject IJSRuntime JSRuntime;

@code {
    [Parameter]
    public UniverseThemes.Themes selectedTheme { get; set; }
    private string Test="";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        //injects css of other class?
        //defaults to 0 (light)
        UniverseThemes.UniversalTheme ut = new(selectedTheme);

        Console.WriteLine("Col: "+ut.Accent); //Empty!

        Test = ut.Accent;
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("a    render");
        if (firstRender){
            Console.WriteLine("render");
            await JSRuntime.InvokeVoidAsync("AddTheme",Test);
        }
    }
}

<UniverseThemes />

<script>
    //TEST loading component

    let AddTheme=(themeColHex)=>{
        console.log("ADD THEME B")

        var s = document.createElement("style");
        s.innerHTML = `* { background-color: ${themeColHex}; }`

        var h = document.querySelector("head");

        h.appendChild(s);

        console.log("ADD THEME C")
    }
</script>
